::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-button,
::-webkit-scrollbar-corner {
	display: none;
}
::-webkit-scrollbar-thumb {
	background: #ececec;
}
::-webkit-scrollbar-thumb:hover {
	background: #e2e2e2;
}
::-webkit-scrollbar-thumb:active {
	background: #b8b8b8;
}
::-webkit-scrollbar-track {
	background: #383838;
}

/* Color vars should go here */
:root {
	
}

/* Responsive queries go here */
@media screen and (max-width: 760px) {
	
}
@media screen and (max-width: 430px) {
	
}